<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>Bazar</title>
  </head>

  <body>
    <h1>🛍️ Bazar</h1>

    <hr />

    <h2>Categorías</h2>

    <ul>
      {% for categoria in categorias %}

      <li>{{ categoria.nombre }}</li>

      {% endfor %}
    </ul>

    <hr />

    <h2>Productos Disponibles</h2>

    <table border="1" cellpadding="10">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Acción</th>
      </tr>

      {% for p in productos %}

      <tr>
        <td>{{ p.nombre }}</td>

        <td>${{ p.precio }}</td>

        <td>
          {% for categoria in categorias %} {% if categoria.id == p.categoria_id
          %} {{ categoria.nombre }} {% endif %} {% endfor %}
        </td>

        <td>
          <a href="/agregar/{{ p.id }}"> Agregar al carrito </a>
        </td>
      </tr>

      {% endfor %}
    </table>

    <br />

    <a href="/carrito"> 🛒 Ver carrito </a>
  </body>
</html>
