<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nueva Categoría — Admin</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/estilos.css') }}"
    />
  </head>

  <body>
    {% include 'admin/_navbar.html' %}

    <main class="page admin-page">
      <h1>Crear Categoría</h1>

      <form
        method="POST"
        action="/categorias/crear"
        enctype="multipart/form-data"
      >
        <label for="nombre"> Nombre: </label>

        <input type="text" id="nombre" name="nombre" required />

        <br /><br />

        <label for="imagen"> Imagen: </label>

        <input
          type="file"
          id="imagen"
          name="imagen"
          accept="image/*"
          required
        />

        <br /><br />

        <label> Vista previa: </label>

        <br /><br />

        <img
          id="preview"
          width="180"
          style="
            display: none;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding: 5px;
          "
        />

        <br /><br />

        <button type="submit">Guardar</button>
      </form>

      <br />

      <a href="/categorias" class="accion-volver"> ← Volver </a>
    </main>

    <script>
      const inputImagen = document.getElementById("imagen");

      inputImagen.addEventListener("change", function () {
        const archivo = this.files[0];

        if (!archivo) return;

        const lector = new FileReader();

        lector.onload = function (e) {
          const preview = document.getElementById("preview");

          preview.src = e.target.result;
          preview.style.display = "block";
        };

        lector.readAsDataURL(archivo);
      });
    </script>
  </body>
</html>
